.app-container {
  padding: 30px;
  background: #f4f6f9;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.main-layout {
  display: flex;
  gap: 24px;
  margin-top: 20px;
  align-items: stretch;
}

.left-panel {
  flex: 0 0 70%;
  max-width: 69%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-panel {
  flex: 0 0 30%;
  max-width: 30%;
}

@media (max-width: 992px) {
  .main-layout {
    flex-direction: column;
  }

  .left-panel,
  .right-panel {
    max-width: 100%;
    flex: 0 0 100%;
  }
  
}
.task-section {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 20px;
}

.task-divider {
  height: 1px;
  background: #e5e7eb;
  margin: 20px 0;
}
